<div class="container" ng-controller="FriendController as fc">

	<p>
	<p>
	<p>
	<p>
	
	<p>
	<p>
	<p>
	<p>
	
	<div class="form-group has-feedback"></div>
	


  search for friend

  <p><input type="text" ng-model="sear_text"></p>


	<div ng-repeat="friend in fc.friends | filter: sear_text">

		<fieldset>
			<legend></legend>

			<p>Name: {{friend.friendid}} &nbsp; &nbsp;&nbsp; Status: {{friend.status}}
			<a href="#!/chat_forum">Send Message</a>
			

			
		</fieldset>
	</div>


</div>